version: "3.9"

services:

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - ./init_db.sh:/docker-entrypoint-initdb.d/init_db.sh:ro
    secrets:
      - mongo_password
      - discinstock_user_password
    networks:
      - backend
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongoadmin
      - MONGO_INITDB_ROOT_PASSWORD_FILE=/run/secrets/mongo_password
      - MONGO_INITDB_DATABASE=discinstock
      - MONGO_NON_ROOT_USERNAME=discinstock_user
      - MONGO_NON_ROOT_PASSWORD_FILE=/run/secrets/discinstock_user_password
    command: ["--bind_ip_all"]

  spider:
    image: discgolfspider:dev
    ports: 
      - "9001:9000"
    depends_on:
      - mongo
    secrets:
      - discinstock_user_password
    networks:
      - backend
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB=discinstock
      - MONGO_NON_ROOT_USERNAME=discinstock_user
      - MONGO_NON_ROOT_PASSWORD_FILE=/run/secrets/discinstock_user_password

  api:
    image: discinstock_api:dev
    ports: 
      - "8001:8000"
    depends_on: 
      - mongo
    secrets:
      - discinstock_user_password
    networks:
      - backend
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB=discinstock
      - MONGO_NON_ROOT_USERNAME=discinstock_user
      - MONGO_NON_ROOT_PASSWORD_FILE=/run/secrets/discinstock_user_password

  app:
    image: discinstock_app:dev
    ports:
      - "8080:8080"
    depends_on:
     - api
    networks:
     - frontend
     - backend

secrets:
  mongo_password:
    external: true
  discinstock_user_password:
    external: true

networks:
  backend:
  frontend:

volumes:
  mongo-data: